  ## Dummy Module

  lint-dummy-module:
    needs: setup
    runs-on: ubuntu-latest
    # if: ${{ needs.setup.outputs.ts-files-changed == 'true' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: PNPM installation
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: 9
          run_install: false

      - name: Dependencies cache unpacking
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Building workspace dependencies
        run: pnpm --filter testing-ground ci:build

      - name: Lint with ESlint
        run: pnpm --filter dummy-module ci:lint

  typescript-syntax-check-dummy-module:
    needs: setup
    runs-on: ubuntu-latest
    # if: ${{ needs.setup.outputs.ts-files-changed == 'true' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: PNPM installation
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: 9
          run_install: false

      - name: Dependencies cache unpacking
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Building workspace dependencies
        run: pnpm --filter testing-ground ci:build

      - name: Check TypeScript syntax
        run: pnpm --filter dummy-module ci:ts:check

  test-dummy-module:
    needs: setup
    runs-on: ubuntu-latest
    # if: ${{ needs.setup.outputs.ts-files-changed == 'true' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: PNPM installation
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: 9
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Dependencies cache unpacking
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Building workspace dependencies
        run: pnpm --filter testing-ground ci:build

      - name: Test with Node Test runner
        run: pnpm --filter dummy-module ci:test:unit

  publish-dummy-module:
    if: ${{ github.ref == 'refs/heads/main' && ! failure() && ! cancelled() && github.event_name == 'push' }}
    needs:
      [
        spell-check-global,
        lint-dummy-module,
        typescript-syntax-check-dummy-module,
        test-dummy-module,
      ]
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"

      - name: PNPM installation
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: 9
          run_install: false

      - name: Dependencies cache unpacking
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Building workspace dependencies
        run: pnpm --filter testing-ground ci:build

      - name: Package build
        run: pnpm --filter dummy-module ci:build

      - name: Publish package
        id: package-version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm --filter dummy-module ci:publish
